{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="text-center mb-3">User Login</h4>
        <form method="post" action="{% url 'account:login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-dark w-100 mt-2">Login</button>
        </form>
        <p class="text-center mt-3">
          Don’t have an account? <a href="{% url 'account:register' %}">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
